.y3zKF[disabled]:not(.yWX7d):not(.A086a), a.y3zKF[disabled]:not(.yWX7d):not(.A086a), a.y3zKF[disabled]:not(.yWX7d):not(.A086a):visited {
    background-color: rgba(0,149,246,.3);
    background-color: brown;
    opacity: 1;
}